body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #fff;
    font-family: 'opensansregular', sans-serif;
}
body {
    padding-top: 42px;
}
h1 {
    font-family: "opensanslight", sans-serif;
    font-weight: normal;
    font-size: 50px;
}
h2 {
    font-family: "opensansbold", sans-serif;
    text-align: center;
}
h3 {
    font-family: "opensansbold", sans-serif;
    font-size: 18px;
    margin: 0 0 10px 0;
}
p {
    margin: 5px 0;
}
a {
text-decoration: none;
color: #000;
}
.content {
    max-width: 1300px;
    width: 95%;
    min-height: 100%;
    margin: 0 auto;
}

.menu {
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: #004a75;
    border-bottom: 3px solid #022e48;
    z-index: 9999;
}

.page-item {
    font-family: "opensanslight", sans-serif;
    display: inline-block;
    padding: 10px;
    height:  100%;
    color: #fff;
    margin: 0 5px;
}
.logo {
    background-image: url();
    margin: 0 5px 0 0;
}
.login {
    float: right;
    margin: 0 0 0 5px;

}
.page-item:hover {
    background-color: #022e48;
}

.front-cover {
    background-image: url(/img/frontcover.jpg);
    width: 100%;
    max-height: 500px;
    min-height: 350px;
    height: 50%;
    background-size: cover;
    background-position: 75% 50%;
    display: table;
    background-attachment: fixed;
}
.cover-type {
    display: table-cell;
    color: #fff;
    vertical-align: middle;
    text-align: center;
}
.boxes {
    text-align: center;
}
.box-3 {
    width: 31%;
    min-width: 300px;
    margin: 0 ;
    display: inline-table;
    min-height: inherit;
    overflow: hidden;
    box-sizing: border-box;

}

.box-3:first-child {
    margin-left: 0;
}

.box-3:last-child {
    margin-right: 0;
}
.button {
    padding: 9px 20px;
    background: #0FC281;
    margin: 5px auto;
    border-radius: 8px;
    color: #FFF;
    font-family: "opensansbold", sans-serif;
    border: 0;
    border-bottom: 3px solid #0D6F00;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 100%;
    box-sizing: border-box;
}
.button:hover {
    background: #0FB87A;;
    border-bottom: 3px solid #0D6F00;
}
.button:active {
    background: #0FA971;
    border-bottom: 3px solid rgba(0, 0, 0, 0);
    padding: 11px 20px 7px 20px;
}

.roundimage {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    border: 5px solid #dbdbdb;
    background-size: cover;
    margin: 20px auto;
}
#parliament-image {
    background-image: url(/img/bigben.jpg);
}
#mp-image {
    background-image: url(/img/mp.jpg);
}
#debate-image {
    background-image: url(/img/debate.jpg);
}
#postcode {
    text-align: center;
    width: 60%;
    min-width: 150px ;
    margin:0 auto 20px auto;
    box-sizing: border-box;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    padding: 10px;
    font-size: 17px;
}

input:focus {
    outline: 0;
}
button:focus {
    outline: 0;
}

#postcode:focus {
    border-color: #666666;
}

.box-item {
    background: #F1F1F1;
    padding: 10px;
    margin: 6px 0;
    border-bottom: 3px solid #d4d4d4;
    text-align: left;
}
/*
.button {
    padding: 10px;
    width: 50%;
    display: block;
    margin: 6px 0;
    border-bottom: 3px solid #d4d4d4;
    background: url(/img/noise.png) #F1F1F1;
    text-align: center;
    margin: 0 auto;
    border-radius: 5px;
}

.button:active {
    background: #E2E2E2;
    position: relative;
    top: 3px;
    border-bottom: rgba(0,0,0,0) 3px solid;
}
*/
p {
    margin-bottom: 1em;
}

.page-heading {
    color: black;
    line-height: 1.5;
}

.box-2 {
    width: 49%;
    margin: 1%;
    display: block;
    float: left;
    overflow: hidden;

}

.box-2:first-child {
    margin-left: 0;
}

.box-2:last-child {
    margin-right: 0;
}

#mplocate {
    background-position: 12% 50%;
    background-repeat: no-repeat;
    background-size: 11%;
    text-align: right;
    margin-bottom: 20px;
    width: auto;
}
/* Profile Page */
.profile-cover {
    background-image: url(/img/frontcover.jpg);
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: 75% 50%;
    display: table;
    background-attachment: fixed;
}
.profile-top {
    margin: -100px auto 0 auto;
    padding: 0 50px;
    max-width: 1300px;
    width: 95%;
    box-sizing: border-box;
}
.profile-image {
    height: 175px;
    width: 175px;
    border-radius: 150px;
    border: 10px solid #fff;
    overflow: hidden;
    display: inline-table;
    vertical-align: center;

}
.mp-name {
    vertical-align: bottom;
    margin: 0px 25px 25px 0px;
}
#profile-mail {
    background-color: #207CA0;
    border-color: #0F475E;
}
#profile-mail:active {
    border-color: transparent;
    background-color: #1E6B8A;
}
#profile-mail:hover {
background-color: #1E7292;
}

.profile {
}
.profile-1 {
    float: left;
    width: 195px;
    margin: -100px 50px 0px;
}
.profile-2 {
    float: left;
    padding: 0px 10px 10px;
}
.profile-info {
    list-style: none;
    float: left;
    width: 195px;
    margin: 0;
    padding: 0;
    text-align: center;
}
.constituency {
    margin: 20px 0;
    font-size: 20px;
}
.profile-feed {
    list-style: none;
    padding: 0px;
}
/* Footer */
footer {
    color: grey;
    text-align: center;
    width: 100%;
    clear: both;
    margin-top: 40px;
}

footer p.project {
    margin-bottom: 0;
}

footer p.credit {
    font-size: 0.8rem;
}

/* News */
.news-item {
    width: 49%;
    margin-top: 20px;
    background: #F1F1F1;
    box-sizing: border-box;
    border-bottom: 3px solid #d4d4d4;
}

.news-item h2, .news-item p {
    text-align: left;
    padding-left: 10px;
}

.news-item img {
    width: 100%;
}

.news-item:nth-child(odd) {
    margin-right: 1%;
}