/*
  Site wide
*/
body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #fff;
    font-family: 'opensansregular', sans-serif;
}

body {
    padding-top: 42px;
}

h1 {
    font-family: "opensanslight", sans-serif;
    font-weight: normal;
    font-size: 50px;
}

h2 {
    font-family: "opensansbold", sans-serif;
    text-align: center;
}

h3 {
    font-family: "opensansbold", sans-serif;
    font-size: 18px;
    margin: 0 0 10px 0;
}

h4 {
    font-size: 14px;
    font-weight: normal;
    margin: -5px 0 10px 0;
    padding: 0;
    color: #505050;
}

p {
    margin: 5px 0;
    margin-bottom: 1em;
}

a {
    text-decoration: none;
    color: #000;
}

.content {
    max-width: 1300px;
    width: 95%;
    margin: 0 auto;
}

.button {
    padding: 9px 20px;
    margin: 5px auto;
    border-radius: 8px;
    color: #FFF;
    font-family: "opensansbold", sans-serif;
    border: 0;
    background: #0FC281;
    border-bottom: 3px solid #0D6F00;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 100%;
    box-sizing: border-box;
}

.button:hover {
    background: #0FB87A;;
    border-bottom: 3px solid #0D6F00;
}

.button:active {
    background: #0FA971;
    border-bottom: 3px solid rgba(0, 0, 0, 0);
    padding: 11px 20px 7px 20px;
}

.card {
    background: #F1F1F1;
    border-bottom: 3px solid #d4d4d4;
    text-align: left;
}

/*
  Boxes
*/
.box {
    display: block;
    float: left;
    overflow: hidden;
}

.box:first-child {
    margin-left: 0;
}

.box:last-child {
    margin-right: 0;
}

.box-2 {
    width: 49%;
    margin: 0 1%;
}

.box-3 {
    width: 32%;
    min-width: 300px;
    margin: 0 1% ;
}
.box:first-child p {
    text-align: justify;
}

/*
  Menu
*/
.menu {
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: #004a75;
    border-bottom: 3px solid #022e48;
    z-index: 9999;
    box-sizing: border-box;
}

.page-item {
    font-family: "opensanslight", sans-serif;
    display: inline-block;
    padding: 10px;
    height:  100%;
    color: #fff;
    margin: 0 5px;
}

.page-item:hover {
    background-color: #022e48;
}

.logo {
    margin: 0 5px 0 0;
}

.login {
    float: right;
    margin: 0 0 0 5px;
}
.mobile-menu {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #004A75;
    border-bottom: 3px solid #022E48;
}
.mobile-bar {
    overflow: auto;
}
.mobile-menu .logo {
    float: left;
}
.icon-uniE615 {
    float: right;
    color: #fff;
    font-size: 24px;
    padding: 7px 7px 8px 7px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.icon-uniE615:hover {
    background-color: #022e48;
}

.mobile-menu .page-item {
    font-size: 14px;
}
.drawer.hidden {
    display: none;
}


/*
  Home page
*/
.front-cover {
    background-image: url(/img/frontcover.jpg);
    width: 100%;
    max-height: 500px;
    min-height: 350px;
    height: 50%;
    background-size: cover;
    background-position: 75% 50%;
    display: table;
    background-attachment: fixed;
}

.cover-type {
    display: table-cell;
    color: #fff;
    vertical-align: middle;
    text-align: center;
}

.homepage-boxes {
    text-align: center;
}

.homepage-card {
    padding: 10px;
    margin: 6px 0;
}

.roundimage {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    border: 5px solid #dbdbdb;
    background-size: cover;
    margin: 20px auto;
}

#parliament-image {
    background-image: url(/img/bigben.jpg);
}

#mp-image {
    background-image: url(/img/mp.jpg);
}

#debate-image {
    background-image: url(/img/debate.jpg);
}

#postcode, #mpname {
    text-align: center;
    /*width: 60%;*/
    /*min-width: 150px ;*/
    margin:0 auto 20px auto;
    box-sizing: border-box;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    padding: 10px;
    font-size: 17px;
}

#postcode {
    width: 100px;
}

#postcode:focus, #mpname:focus {
    border-color: #666666;
}

input:focus, button:focus {
    outline: 0;
}

.page-heading {
    color: black;
    line-height: 1.5;
}

#mplocate {
    background-position: 12% 50%;
    background-repeat: no-repeat;
    background-size: 11%;
    text-align: right;
    margin-bottom: 20px;
    width: auto;
}

/*
  MP profile
*/
.profile.content {
    max-width: 1000px;
}

.profile-cover {
    background-image: url(/img/frontcover.jpg);
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: 75% 50%;
    display: table;
    background-attachment: fixed;
}

.profile-top {
    margin: -100px auto 0 auto;
    padding: 0 50px;
    max-width: 1300px;
    width: 95%;
    box-sizing: border-box;
}

.profile-image {
    height: 175px;
    width: 175px;
    border-radius: 150px;
    border: 10px solid #fff;
    overflow: hidden;
    display: inline-table;
    vertical-align: center;

}

.mp-name {
    vertical-align: bottom;
    margin: 0px 25px 25px 0px;
}

#profile-contact {
    background-color: #207CA0;
    border-color: #0F475E;
}

#profile-contact:hover {
    background-color: #1E7292;
}

#profile-contact:active {
    border-color: transparent;
    background-color: #1E6B8A;
}

.icon-mail3 {
    font-size: 15px;
    margin-right: 6px;
    position: relative;
    top: 1px;
}

#profile-twitter {
    background-color: #55ACEE;
    border-color: #1783AF;
}

#profile-twitter:hover {
    background-color: #519BD3;
}

#profile-twitter:active {
    border-color: transparent;
    background-color: #4483B1;
}

.icon-twitter {
    font-size: 15px;
    margin-right: 6px;
    position: relative;
    top: 1px;
}

.profile-1 {
    float: left;
    width: 195px;
    margin: -100px 50px 0px;
}

.profile-2 {
    float: left;
    padding: 0px 10px 10px;
    width: calc(100% - 295px);
    box-sizing: border-box;
}

.profile-info {
    list-style: none;
    float: left;
    width: 195px;
    margin: 0;
    padding: 0;
    text-align: center;
}

.constituency {
    margin: 20px 0;
    font-size: 20px;
}

h2.debates {
    text-align: left;
    text-transform: uppercase;
    border-bottom: 1px solid #696969;
}

.profile-feed {
    max-width: 700px;
    list-style: none;
    padding: 0px;
}
.debate-full {
    margin: 0 auto;
    max-width: 700px;
}
h2.debates.debate-full {
    margin: 20px auto;
}
.debate-full:nth-child(2), .debate-full:nth-child(3) {
    font-family: "opensansbold", sans-serif;
}
/*
  News
*/
.icon-newspaper, .icon-bubbles, .icon-search {
    font-size: 50px;
    margin-right: 15px;
    position: relative;
    top: 3px;
}
.news-item {
    width: 49%;
    margin-top: 20px;
}

.news-item h2, .news-item p {
    text-align: left;
    padding: 0 10px;
}

.news-item img {
    width: 100%;
}

.news-item:nth-child(odd) {
    margin-right: 1%;
}
.continuereading {
    float: right;
    padding: 10px;
}
/*
  Polls
*/
.poll {
    width: 100%;
    background-color: #A4D3C6;
    padding: 1px 20px 20px 20px;
    box-sizing: border-box;
    font-family:"oxygenregular", sans-serif;
}
#yes, #no, #dontknow {
    max-width: 300px;
    text-align: center;
}
#no {
    background: #CF3C3C;
    border-bottom: 3px solid #6B1A1A;
}
#no:hover {
    background: #A23131;
}

#no:active {
    border-color: transparent;
    background: #802727;
}
#dontknow {
    background: #CF883C;
    border-bottom: 3px solid #805323;
}
#dontknow:hover {
    background: #B87732;
}

#dontknow:active {
    border-color: transparent;
    background: #A56C30;
}


/*
  Footer
*/
footer {
    color: grey;
    text-align: center;
    width: 100%;
    clear: both;
    margin-top: 40px;
}

footer .project {
    margin-bottom: 0;
}

footer .credit {
    font-size: 0.8rem;
}