
@font-face {
    font-family: 'sofiaprolight';
    src: url('SofiaPro/SofiaProLight-webfont.eot');
    src: url('SofiaPro/SofiaProLight-webfont.eot?#iefix') format('embedded-opentype'),
url('SofiaPro/SofiaProLight-webfont.woff') format('woff'),
url('SofiaPro/SofiaProLight-webfont.ttf') format('truetype'),
url('SofiaPro/SofiaProLight-webfont.svg#sofia_pro_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'bebas';
    src: url('Bebas/bebas___-webfont-webfont.eot');
    src: url('Bebas/bebas___-webfont-webfont.eot?#iefix') format('embedded-opentype'),
url('Bebas/bebas___-webfont-webfont.woff') format('woff'),
url('Bebas/bebas___-webfont-webfont.ttf') format('truetype'),
url('Bebas/bebas___-webfont-webfont.svg#bebasregular') format('svg');
	font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'opensanslight';
    src: url('OpenSans/opensans-light-webfont.eot');
    src: url('OpenSans/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
url('OpenSans/opensans-light-webfont.woff') format('woff'),
url('OpenSans/opensans-light-webfont.ttf') format('truetype'),
url('OpenSans/opensans-light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'opensansbold';
    src: url('OpenSans/OpenSans-Bold-webfont.eot');
    src: url('OpenSans/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
url('OpenSans/OpenSans-Bold-webfont.woff') format('woff'),
url('OpenSans/OpenSans-Bold-webfont.ttf') format('truetype'),
url('OpenSans/OpenSans-Bold-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'opensansregular';
    src: url('OpenSans/opensans-regular-webfont.eot');
    src: url('OpenSans/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
url('OpenSans/opensans-regular-webfont.woff') format('woff'),
url('OpenSans/opensans-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ralewaylight';
    src: url('Raleway/raleway-light-webfont.eot');
    src: url('Raleway/raleway-light-webfont.eot?#iefix') format('embedded-opentype'),
url('Raleway/raleway-light-webfont.woff') format('woff'),
url('Raleway/raleway-light-webfont.ttf') format('truetype'),
url('Raleway/raleway-light-webfont.svg#ralewaylight') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ralewayregular';
    src: url('Raleway/raleway-regular-webfont.eot');
    src: url('Raleway/raleway-regular-webfont.eot?#iefix') format('embedded-opentype'),
url('Raleway/raleway-regular-webfont.woff') format('woff'),
url('Raleway/raleway-regular-webfont.ttf') format('truetype'),
url('Raleway/raleway-regular-webfont.svg#ralewayregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ralewaybold';
    src: url('Raleway/raleway-bold-webfont.eot');
    src: url('Raleway/raleway-bold-webfont.eot?#iefix') format('embedded-opentype'),
url('Raleway/raleway-bold-webfont.woff') format('woff'),
url('Raleway/raleway-bold-webfont.ttf') format('truetype'),
url('Raleway/raleway-bold-webfont.svg#ralewaybold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'museoslab';
    src: url('Museo/museo_slab_500-webfont.eot');
    src: url('Museo/museo_slab_500-webfont.eot?#iefix') format('embedded-opentype'),
url('Museo/museo_slab_500-webfont.woff') format('woff'),
url('Museo/museo_slab_500-webfont.ttf') format('truetype'),
url('Museo/museo_slab_500-webfont.svg#museo_slab500') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ashburylight';
    src: url('Ashbury/AshburyLig-webfont.eot');
    src: url('Ashbury/AshburyLig-webfont.eot?#iefix') format('embedded-opentype'),
url('Ashbury/AshburyLig-webfont.woff') format('woff'),
url('Ashbury/AshburyLig-webfont.ttf') format('truetype'),
url('Ashbury/AshburyLig-webfont.svg#ashburylight') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'crimsonroman';
    src: url('Crimson/crimsontext-roman-webfont.eot');
    src: url('Crimson/crimsontext-roman-webfont.eot?#iefix') format('embedded-opentype'),
url('Crimson/crimsontext-roman-webfont.woff') format('woff'),
url('Crimson/crimsontext-roman-webfont.ttf') format('truetype'),
url('Crimson/crimsontext-roman-webfont.svg#crimson_textroman') format('svg');
    font-weight: normal;
    font-style: normal;

}