{%insert _templates:header %endinsert}
    
    <div class="profile-cover"><iframe class="profile-cover" style="z-index: 0;" src="https://maps.google.co.uk/?output=embed&amp;q={%{area}%}" scroll=no></iframe> 
</div>
    <div class="profile content">
    	<div class="profile-1">
            <img class="profile-image" style="background-image:url(http://www.theyworkforyou.com{%{image.src}%}); border-color:{%{ partyColor }%};"></img>
            <ul class="profile-info">
                <li class="constituency"> MP for {%{ location }%}</li>
                <button type="button" class="button">+ Follow (NYI)</button>
                <a href="/mp/contact/{%{ name }%}"><button type="button" id="profile-contact" class="button"><span class="icon-mail3"></span>Contact</button></a>
                <a href="https://twitter.com/search?q={%{ name }%}&mode=users"><button type="button" id="profile-twitter" class="button"><span class="icon-twitter"></span>Twitter</button></a>

            </ul>
        </div>
        <div class="profile-2">
            <h1 class="mp-name">{%{ name }%}</h1>
            <ul class="profile-feed">
            <h2 class="debates"> Recent Debates </h2>
{%for debate in debates {
                <li class="feed-item">
                    <a href="/debates/full/{%{debate.gid}%}"><h3>{%{debate.topic}%}</h3></a>
                    <h4>{%{debate.date}%}</h4>
                    <p class="summary">"{%{debate.summary}%}"</p>
                </li>
} %endfor}
            </ul>
        </div>
    </div>
{%insert _templates:footer %endinsert}
