{%insert _templates:header %endinsert}

<div class="content">
<h2 class="debates debate-full"> Full Debate </h2>
{%for row in debate {
    <div class="debate-full">{%{row.body}%}</div>
}%endfor}
</div>

<div class="poll">
    <div class="reading">
        <h2 class="debates">Poll</h2>
            {%for(1) qNum, entry in questions {
            <div class="question">
                <p>{%{entry.question}%}</p>
                <div class="answer-cont">
               {%for(2) option in entry.options {
                <div class="button pollchoice choice-{%{option.color}%}" question="{%{qNum}%}" optnum="{%{option.choice}%}">{%{option.text}%}</div>
                }%endfor(2)}
                </div>
            </div>
            }%endfor(1)}
            <div class="question">
                <p>Want to see what others think about this issue?</p>
                <div class="answer-cont"><div class="button show-results poll-choice pollchoice" id="showresults">Show results</div></div>
            </div>
    </div>
</div>

<div class="poll-results">
    <div class="reading" id="poll-results" style="display: none;">
    </div>
</div>
<script>
    $('.pollchoice').each(function(i, element) {
        var el = $(element)
        var qNum = el.attr('question')
        var oNum = el.attr('optnum')
        el.click(function() {
            $.post('/debates/pollVote/{%{id}%}/' + qNum + '/' + oNum, function(rText){
                e = $('.pollchoice[question=' + qNum + ']')
                e.attr('class', 'button pollchoice disabled')
                e.unbind('click')
                el.append('<div style="color:green">' + rText + '</div>')
            })
        })
    })

    $('#showresults').click(function() {
        $.get('/debates/pollResults/{%{id}%}', function(results) {
            $("#poll-results").css("display", "block");
            $(".poll").css("display", "none");
            var div = $('#poll-results')
            div.html('<h2 class="debates">Results</h2>')
            for (qNum = 0; qNum < results.length; qNum++) {
                entry = results[qNum]
                var resDiv = $('<div class="poll-result"></div>')
                resDiv.append('<p class="result-question">' + entry.question + '</p>')
                for (i = 0; i < entry.options.length; i++) {
                    option = entry.options[i]
                    resDiv.append('<p>' + option.choice + ' = ' + option.count + '</p>')
                }
                div.append(resDiv)
            }
        })
    })
</script>

{%insert _templates:footer %endinsert}
