{%insert _templates:header %endinsert}

<div style="width:auto;margin-bottom:10px;width:50%">
<h4>Find Debates</h4>
By Date: <input type="text" value="{%{dateQuery}%}" id="datequery"> <button class="button" style="width:auto" id="finddate">Find</button>
<br>
Or Last n Debates: <input type="text" value="{%{numQuery}%}" id="numquery">
<button class="button" style="width:auto" id="findnum">Find</button>
</div>
<script>
    $('#finddate').click(function(){
        window.location = '/debates/fromDate/' + $('#datequery').val()
    })

    $('#findnum').click(function(){
        window.location = '/debates/last/' + $('#numquery').val()
    })
</script>

<div class="content">
        <h1 class="page-heading"><span class="icon-bubbles"></span>Recent Debates</h1>

{%if empty {?

    No Debates found for {%{dateQuery}%}

?}%endif}

{%for debate in debates {
    <a href="/debates/full/{%{debate.gid}%}" style="text-decoration:underline;color:blue">{%{debate.parent.body}%}</a>
    <br>
    {%{debate.date}%}
    <br>
    {%{debate.speaker.first_name}%} {%{debate.speaker.last_name}%}
    <br>
    {%{debate.extract}%}
    <br>
}%endfor}
</div>
{%insert _templates:footer %endinsert}
