{%insert _templates:header %endinsert}
<div class="content">
        <h1 class="page-heading"><span class="icon-bubbles"></span>Recent Debates</h1>
<div class="find-debates">
    <h2>Find Debates</h2>
    <h5>By Date:</h5>
    <div class="debate-form"><input type="date" value="{%{dateQuery}%}" id="datequery"> <button class="form-button" style="width:auto" id="finddate">Find</button></div>
    <h5>Or Last n Debates: </h5>
    <div class="debate-form"><input type="number" value="{%{numQuery}%}" id="numquery"><button class="form-button" style="width:auto" id="findnum">Find</button></div>
</div>
<script>
    $('#finddate').click(function(){
        window.location = '/debates/fromDate/' + $('#datequery').val()
    })

    $('#findnum').click(function(){
        window.location = '/debates/last/' + $('#numquery').val()
    })
</script>
<div class="debates-list">
{%if empty {?

    <h2>No Debates found for {%{dateQuery}%} </h2>

?}%endif}

{%for debate in debates {
    <div class="card">
        <h3><a href="/debates/full/{%{debate.gid}%}">{%{debate.parent.body}%}</a></h3>
        <h4>{%{debate.hdate}%} {%{debate.htime}%}</h4>
        <h4>{%{debate.speaker.first_name}%} {%{debate.speaker.last_name}%}</h4>
        <p>{%{debate.extract}%}</p>
    </div>
}%endfor}

</div>
</div>
{%insert _templates:footer %endinsert}
