{%insert _templates:header %endinsert}
    <div class="profile-cover" style="background-image: url(http://stream1.gifsoup.com/view4/4687944/michael-gove-falling-over-o.gif); background-position: 83% 147%;"></div>

	<div class="content">
		<h1 class="page-heading">What is politics?</h1>
		
		<div>
			<div class="box box-2">
				<p>Very politics</p>
			</div>
			<div class="box box-2">
				<img src="http://stream1.gifsoup.com/view4/4687944/michael-gove-falling-over-o.gif" alt="Our majestic Prime Minister" />
			</div>
		</div>
	</div>
    
{%insert _templates:footer %endinsert}