{%insert _templates:header %endinsert}

	<div class="content">
		<h1 class="page-heading"><span class="icon-file"></span>How it works</h1>
		
		<div>
			<div class="box box-2">
				<p>The politics system in the UK can be a little difficult to understand, but don't let that put you off. This page will explain all you need to know. So, let's get started. </p>
				<h2 style="text-align: left;">The Houses of Parliament</h2>
				<p>Located in Westminister, London, the Houses of Parliament (Officially known as the Palace of Westminister) is the centre of UK government. Comprised of two houses, the House of Commons and the House of Lords, this is the place where all the decisions on what makes UK law are debated and decided. </p>
				<h2 style="text-align: left;">The House of Commons</h2>
				<p>The House of Commons is where MPs (Members of Parliament) meet to debate new bills and changes to law. </p>
				<h2 style="text-align: left;">Members of Parliament</h2>
				<p>MPs (Members of Parliament) are people who represent a specific area of the country (called Constituencies) in Parliament. MPs are elected at least every 5 years when there is a general election, however there may be another election in the constituency to elect a different MP if the current one resigns or is fired. These elections are called by-elections.
				MPs are part of a political party, such as Labour or Conservatives, or may be independant. If they are part of a party then often they are expected to vote on bills in occordance to their party's views. In elections the MP with the most votes becomes the MP for that constituency and takes up a seat in the House of Commons.
				</p>
				

			</div>
			<div class="box box-2">
				<img src="/public/img/housesofp.jpg" alt="Our majestic Prime Minister" />
				<p class="small">Houses of Parliament (Credit: <a href="https://secure.flickr.com/photos/118118485@N05/12646259735/in/photolist-kgvoqX-btoPYa-6KkHqH-bVVaLY-otoN6h-ixDqJN-29kxm-a77v1h-fGB2TY-PMsd3-n5hqc7-82tyXQ-bUvLV8-6VZ5Lr-MEb5K-914kty-cAMNF3-agncXV-ABymR-aKhU8g-9Ubb8e-73dwH-n5fz1K-fwsGrf-6W49gq-aKhVgn-grUtyr-5hvXrv">Michael D Beckwith</a>)</p>
			</div>
		</div>
	</div>
    
{%insert _templates:footer %endinsert}