<!DOCTYPE html>
<html lang="en-us">

<head>
<meta charset="utf-8">
<title>Politics made simple</title>
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/fonts/stylesheet.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="/js/functions.js"></script>

</head>

<body>
    <nav class="menu">
		<a href="/" ><div class="logo page-item"> Politics </div></a>
		<a href="/about/politics" ><div class="page-item"> What is politics?</div></a>
		<a href="/mp/find" ><div class="page-item"> Find your MP</div></a>
		<a href="/debates/fromDate/now" ><div class="page-item"> Debates</div></a>
		<a href="/news" ><div class="page-item"> News</div></a>
		<a href="/user/login" ><div class="page-item login"> Login </div></a>
	</nav>
